/App-Fasops-*

META.yml
Makefile
inc/
pm_to_blib
*~
blib
/.build
/_build_params
/Build
!Build/
!META.json
!LICENSE

Build.bat
MYMETA.json

*.fa
*.fas
*.fasta
*.list
*.yml

!.travis.yml

# IDE
.idea
.komodotools
